<div class="container">
  <app-user></app-user>
  <div class="contentContainer">
    <app-widget class="content" imgPath="..\..\assets\images\icon-work.svg"></app-widget>
    <app-widget class="content" imgPath="..\..\assets\images\icon-play.svg"></app-widget>
    <app-widget class="content" imgPath="..\..\assets\images\icon-study.svg"></app-widget>
    <app-widget class="content" imgPath="..\..\assets\images\icon-exercise.svg"></app-widget>
    <app-widget class="content" imgPath="..\..\assets\images\icon-social.svg"></app-widget>
    <app-widget class="content" imgPath="..\..\assets\images\icon-self-care.svg"></app-widget>
  </div>
</div>
