.menu {
  width: 250px;
  border-radius: var(--spacer);
  background-color: var(--darkBlue);

  .info {
    padding: var(--spacer);
    border-radius: inherit;
    background-color: var(--blue);

    img {
      width: 33%;
      border: 3px solid white;
      border-radius: 100%;
    }

    h1 {
      color: var(--paleBlue);
    }
    h5 {
      color: var(--desaturatedBlue);
    }
  }
  .selection {
    padding: var(--spacer);
    border-radius: inherit;
    background-color: var(--darkBlue);
    color: var(--desaturatedBlue);

    .selected {
      color: var(--paleBlue);
    }
  }
}
