.container {
  padding-top: 30px;
  border-radius: 10px;
}
.card {
  background-color: #1D204B;
  color: #FFF;
  padding: 15px;
  border-radius: 10px;
  .head {
    font-weight: bold;
  }
  .time {
    margin-top: 15px;
    font-size: 3em;
  }
  .foot {
    font-weight: lighter;
  }
}
