.container {
  display: flex;
  flex-direction: column;
  background-color: green;
  border-radius: 10px;
}

.containerUserData {
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  border-radius: 10px;
}

.imageContainer {}
